body {
    width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    font-weight: 400;
}

h3 {
    font-size: 35px;
}

h2 {
    font-size: 44px;
}

h4 {
    font-size: 20px;
}

.start-screen {
    height: 908px;
    background-image: url(../images/png/start-screen-gradient-background.png), url(../images/png/start-screen-background.png);

}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.about{
    height: 588px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.pets {
    height: 877px;
    background-color: #F6F6F6;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: #FAFAFA;
}


.help {
    height: 611px;
    background-color: #FFFFFF;
}

.donation {
    height: 462px;
    background-color: #F6F6F6;
}

footer {
    height: 350px;
    display: flex;
    justify-content: space-around;
    background-image: url(../images/png/footer-gradient-background.png), url(../images/png/footer-background.png);
    align-items: center;
}
