* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia;
    letter-spacing: 0;
}

a {
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
}

p{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: absolute;
    padding: 30px 40px;
}

.logo {
    height: 60px;
}

.logo h2 {
    font-size: 32px;
    letter-spacing: 2px;
}

.logo p {
    font-family: Arial;
    font-size: 13px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 452px;
    height: 27px;
    margin-top: 15px;
    font-size: 15px;
}

.start-screen {
    background: radial-gradient(234.05% 111.80% at 0% 0%,rgb(91, 72, 58),rgb(38, 36, 37) 100%)
}
.start-screen__container {
    height: 100vh;
    width: 100vw;
    padding: 180px 40px 0;
    display: flex;
    justify-content: space-between;
}
.start-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460px;
    height: 322px;
    align-self: center;
}

.start-screen-content p {
    font-size: 15px;
}

.start-screen-content h2 {
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
}

button {
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
}

.button-primary {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    background-color:rgb(241, 205, 179);
    border-width: 0;
}

